.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.reactflow-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* .react-flow__pane {
  transform: rotateX(50deg) rotateY(0deg) rotateZ(-40deg)
} */

.importBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 99;
}

#node {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#node3dEdge {
  width: 70px; 
  height: 2px;
  border: 1px solid black;
  background-color: black;
  transform-origin: center;
  position: absolute;
  top: 0px;
  left: 0px;
}

.path {
  stroke-width: 2px;
  stroke: black;
  fill: none;
  opacity: 1;
}

.box {
  width: 100px;
  height: 100px;
  position: relative;
  transform: rotateX(-35deg) rotateY(50deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.side {
  width: 100px;
  height: 100px;
  background: #C1C1C1;
  border: 1px solid #000;
  position: absolute;
  opacity: 0.5;
}
.side-1 {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-transform: rotateX(90deg) translateZ(50px);
  -moz-transform: rotateX(90deg) translateZ(50px);
  -ms-transform: rotateX(90deg) translateZ(50px);
  -o-transform: rotateX(90deg) translateZ(50px);
  transform: rotateX(90deg) translateZ(50px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-Index: 2;
}

.side-2 {
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  transform: translateZ(50px);
  font-family: 'CargoCrate', serif;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  z-index: -1;
}

.side-3 {
  -webkit-transform: rotateY(90deg) translateZ(50px);
  -moz-transform: rotateY(90deg) translateZ(50px);
  -ms-transform: rotateY(90deg) translateZ(50px);
  -o-transform: rotateY(90deg) translateZ(50px);
  transform: rotateY(90deg) translateZ(50px);
  z-index: 2;
}

.side-4 {
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
  -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
  -ms-transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
  -o-transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
  transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
}

.side-5 {
  -webkit-transform: rotateY(180deg) translateZ(50px);
  -moz-transform: rotateY(180deg) translateZ(50px);
  -ms-transform: rotateY(180deg) translateZ(50px);
  -o-transform: rotateY(180deg) translateZ(50px);
  transform: rotateY(180deg) translateZ(50px);
  z-index: 2;
}

.side-6 {
  -webkit-transform: rotateY(-90deg) translateZ(50px);
  -moz-transform: rotateY(-90deg) translateZ(50px);
  -ms-transform: rotateY(-90deg) translateZ(50px);
  -o-transform: rotateY(-90deg) translateZ(50px);
  transform: rotateY(-90deg) translateZ(50px);
  z-index: -1;
}

.handle-left {
  transform: translateX(50px) translateY(0px) rotateY(-90deg) translateZ(50px);
}
.handle-right {
  transform: translateX(-50px) translateY(-0px) rotateY(90deg) translateZ(50px);
}
.handle-top {
  transform: translateX(0px) translateY(50px) rotateY(180deg) translateZ(50px);
}
.handle-bottom {
  transform: translateX(0px) translateY(-50px) translateZ(50px);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4285F4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4285F4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type="file"] {
  display: none;
}

.btn {
  display: flex;
  padding: 4px;
  font-size: 12px;
  background-color: #4285F4;
  border: 1px solid #4285F4;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  margin: 17px 0px 0px 25px;
  width: auto;
}
.btn-svg {
  padding: 4px;
}
.btn-label {
  margin: 3px 4px;
}
.btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.form-field {
  padding: 10px 0px;
}

.updatenode__controls {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 580px;
  z-index: 99;
  background-color: white;
  border-radius: 2px;
  padding: 16px;
  text-align: left;
  border: 1px solid #ccc;
}

.form-field label{ 
  display: inline-block;
  width: 100px;
}