.sidebarWrapper {
  width: 20vw;
  min-width: 20vw;
  height: 100vh;
  border-right: 1px solid #d3d3d3;
  padding: 17px 0px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndnode {
  width: 100px;
  height: 100px;
  padding: 4px;
  border: 1px solid #4285F4;
  color: #4285F4;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.sidebar--header {
  background-color: #4285F4;
  color: white;
  width: 100%;
  font-size: 14px;
}

.sidebar--cloud-components {
  display: flex;
  flex-wrap: wrap;
}

.sidebar--items {
  margin: 4px;
  padding-top: 23px;
  width: 30%;
  cursor: pointer;
}

