.sidebarWrapper {
  width: 350px;
  height: 100vh;
  border-right: 1px solid #d3d3d3;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndnode {
  width: 100px;
  height: 100px;
  padding: 4px;
  border: 1px solid #4285F4;
  color: #4285F4;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

